[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "vim/pack/dist/start/vim-fugitive"]
	path = vim/pack/dist/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/dist/start/tabular"]
	path = vim/pack/dist/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/dist/start/vim2hs"]
	path = vim/pack/dist/start/vim2hs
	url = https://github.com/dag/vim2hs.git
[submodule "vim/pack/dist/start/undotree"]
	path = vim/pack/dist/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim/pack/dist/start/vim-one"]
	path = vim/pack/dist/start/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule "vim/pack/dist/start/ctrlp.vim"]
	path = vim/pack/dist/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/dist/start/vim-sleuth"]
	path = vim/pack/dist/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vim/pack/dist/start/swift.vim"]
	path = vim/pack/dist/start/swift.vim
	url = https://github.com/keith/swift.vim.git
[submodule "vim/pack/dist/start/vim-commentary"]
	path = vim/pack/dist/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/dist/start/vim-vinegar"]
	path = vim/pack/dist/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/pack/dist/start/vim-airline"]
	path = vim/pack/dist/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/dist/start/vim-markdown-folding"]
	path = vim/pack/dist/start/vim-markdown-folding
	url = https://github.com/masukomi/vim-markdown-folding
[submodule "vim/pack/dist/start/vim-ps1"]
	path = vim/pack/dist/start/vim-ps1
	url = https://github.com/PProvost/vim-ps1
[submodule "vim/pack/dist/start/a.vim"]
	path = vim/pack/dist/start/a.vim
	url = https://github.com/vim-scripts/a.vim
[submodule "vim/pack/dist/start/vim-glsl"]
	path = vim/pack/dist/start/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule "vim/pack/dist/start/editorconfig-vim"]
	path = vim/pack/dist/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/pack/dist/start/vim-gnupg"]
	path = vim/pack/dist/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
