[submodule "z"]
	path = z
	url = https://github.com/rupa/z
[submodule "vim/pack/dist/start/vim-fugitive"]
	path = vim/pack/dist/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/dist/start/tabular"]
	path = vim/pack/dist/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/dist/start/vim2hs"]
	path = vim/pack/dist/start/vim2hs
	url = https://github.com/dag/vim2hs
[submodule "vim/pack/dist/start/vimwiki"]
	path = vim/pack/dist/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "vim/pack/dist/start/undotree"]
	path = vim/pack/dist/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim/pack/dist/start/vim-one"]
	path = vim/pack/dist/start/vim-one
	url = https://github.com/rakr/vim-one
[submodule "vim/pack/dist/start/fzf.vim"]
	path = vim/pack/dist/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/pack/dist/start/goyo.vim"]
	path = vim/pack/dist/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "vim/pack/dist/start/limelight.vim"]
	path = vim/pack/dist/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim
