[Desktop Entry]
Name=xmonad
Comment=Tiling window manager
Exec=/home/david/bin/xmonad-start
Terminal=false

[Window Manager]
SessionManaged=true

# vi: encoding=utf-8
